gmail_user = 'user@gmail.com' # The credentials of the account that will be sending the email
gmail_pwd = 'password'        # I have a separate account for this sort of thing

api_key = '' # visit https://www.agent-stats.com/preferences.php to get an API key

dbconfig = {
    'host': 'localhost',
    #'unix_socket': '/var/run/mysqld/mysqld.sock',
    'db': 'agent_stats',
    'user': 'user',
    'passwd': 'password'
}
