gmail_user = 'user@gmail.com' # The credentials of the account that will be sending the email
gmail_pwd = 'password'        # I have a separate account for this sort of thing
dbhost = 'localhost' # If you are running on the same box as the database, this should be fine
db = 'agent_stats'
dbuser = 'user'
dbpasswd = 'password'
