gmail_sender = 'user@gmail.com' # The account that will be sending the email
gmail_app_password = '16CharacterAppPassword'

api_key = '' # visit https://www.agent-stats.com/preferences.php to get an API key

dbconfig = {
    'host': 'localhost',
    #'unix_socket': '/var/run/mysqld/mysqld.sock',
    'db': 'agent_stats',
    'user': 'user',
    'passwd': 'password'
}

# Doesn't really belong here but, whatever.
HEADLESS = False # change to True when statfixer works for you