{# default.html #}

{% macro high_scores(values) -%}
{% if values -%}
<ul>
<strong>{{ values.title.category }}</strong> <em>{{ values.title.description }}</em>
{% for name in values.scores -%}
<li>{{ name }}</li>
{% endfor -%}
</ul>
{% endif -%}
{% endmacro -%}

{{ name }}<br>
<strong>Top {{ number }} (of {{ submitters }} reporting) for the {{''-}}
{% if week -%}
    week of {{ week }}</strong>
{%- elif month -%}
    month of {{ month }}</strong>
{%- else -%}
    span from {{ startDate }} to {{ endDate }}</strong>
{%- endif %}<br>
{# #}
{{ high_scores(chart.lifetime_ap) -}}
{{ high_scores(chart.explorer) -}}
{{ high_scores(chart.trekker) -}}
{{ high_scores(chart.builder) -}}
{{ high_scores(chart.connector) -}}
{{ high_scores(chart['mind-controller']) -}}
{{ high_scores(chart.illuminator) -}}
{{ high_scores(chart.recharger) -}}
{{ high_scores(chart.liberator) -}}
{{ high_scores(chart.pioneer) -}}
{{ high_scores(chart.engineer) -}}
{{ high_scores(chart.purifier) -}}
{{ high_scores(chart.hacker) -}}
{{ high_scores(chart.translator) -}}
{{ high_scores(chart.specops) -}}
{{ high_scores(chart.discoverer) -}}
{{ high_scores(chart.seer) -}}
{{ high_scores(chart.recon) -}}
{{ high_scores(chart.scout) -}}
{{ high_scores(chart.collector) -}}
{{ high_scores(chart.neutralizer) -}}
{{ high_scores(chart.disruptor) -}}
{{ high_scores(chart.salvator) -}}
{{ high_scores(chart.magnusbuilder) -}}
{{ high_scores(chart.missionday) -}}
{{ high_scores(chart['nl-1331-meetups']) -}}
{{ high_scores(chart.recursions) -}}
{{ high_scores(chart.prime_challenge) -}}
{{ high_scores(chart.stealth_ops) -}}
{{ high_scores(chart.opr_live) -}}
{{ high_scores(chart.ocf) -}}
{{ high_scores(chart.intel_ops) -}}
{{ high_scores(chart.urban_ops) -}}
{{ high_scores(chart.ifs) -}}
{{ high_scores(chart.dark_xm_threat) -}}
{{ high_scores(chart.aurora_glyph) -}}
{{ high_scores(chart.didact_field) -}}
{{ high_scores(chart.drone_explorer) -}}
{{ high_scores(chart.drone_distance) -}}
{{ high_scores(chart.drone_recalls) -}}
{{ high_scores(chart.drone_sender) -}}
{{ high_scores(chart.maverick) -}}
{{ high_scores(chart.scout_controller) -}}
{{ high_scores(chart.crafter) -}}
{{ high_scores(chart.bb_combatant) -}}
{{ high_scores(chart['red-disruptor']) -}}
{{ high_scores(chart['red-purifier']) -}}
{{ high_scores(chart['red-neutralizer']) -}}
{{ high_scores(chart.hack_the_world202104) -}}
{{ high_scores(chart.epoch) -}}
{{ high_scores(chart.matryoshka_links) -}}
{{ high_scores(chart.operation_sentinel) -}}
{{ high_scores(chart.second_sunday) -}}
{{ high_scores(chart.eos_imprint) -}}

{% if dings.data -%}
<p> </p>
<ul>
Recent badge dings:

{% for ding in dings.data -%}
<li><strong>{{ ding.name }}</strong> {{ ding.earned }}</li>
{% endfor %}
{{ dings.footnote }}
</ul>
{% endif -%}
<p>
Great work agents!! If you would like to be included in future top {{ n }} lists please join our <a href=https://www.agent-stats.com/groups.php?group={{ group_id }}>agent-stats group</a>. Don't know what agent-stats is? See <a href=https://www.agent-stats.com/manual.php>here</a>. {{''-}}
{% if startDate -%}
For your stats show up on this list you need to have uploaded your stats at least twice between {{ startDate }} and {{ endDate }}.
{% else -%}
To have your stats show up you need to upload your stats at least right after you see this (right now) and then again right before you see this next {{''-}}
{% if week -%}
week (just upload your stats late Sunday night / early Monday morning when you are done for the night).
{%- else -%}
month (just upload your stats late on the night / early morning before the 1st of the month when you are done for the night).
{%- endif %}
{{-''}} It’s also a good idea to upload your stats every night.
{%- endif %}
</p>
<em>Job started on {{start}} and ran for {{duration}}</em>
